<% if params[:controller] == 'pages' %>
<div class="well">
	<h3>Location Info</h3>
  <ul>
    <li>The Bookstore</li>
    <li>32 Tien Son 9, Hai Chau, Danang</li>
    <li>Phone: +84924317570</li>
    <li>Email: ngduyanhece@gmail.com</li>
  </ul>
</div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:controller] == 'categories' && params[:action] == 'show'%>
<div class="list-group">
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category), class: "list-group-item" %>
  <%  end %>
</div>
<% end %>